.home{
  height: 100%;
  width: 60%;
  margin: auto;
  h1{
    text-align: center;
    color: #666;
    font-size: 30px;
    padding-top: 200px;
  }
  .address{
    margin: 30px auto 30px;
    ul{
      margin-bottom: 20px;
      li{
        font-size: 16px;
        span{
          font-weight: bold;
        }
      }
    }
  }
}